<nav>
  <h1 class="navigation-header">Main stuff</h1>
  <div class="navigation-content">
  {% for item in site.data.navigation %}
    <a href="{{ item.link }}" {% if page.url == item.link %}class="current"{% endif %}>
      {% if page.url == item.link %}⏵ {% endif %}{{ item.name }}
    </a>
    <br>
  {% endfor %}
</div>
</nav>
<nav>
  <h1 class="navigation-header">Tags</h1>
  <div class="navigation-content">
  {% assign sortedTags = site.tags | sort %}
  {% for tag in sortedTags %}
    <a href="/tag/{{ tag[0] }}/index.html" class="tag">{{ tag[0] }}</a>
  {% endfor %}
  </div>
</nav>