<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>.〇. {{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
  </head>
  <body>
    <header>
      <h1>{{ site.title-text }}</h1>
    </header>
    
    <div class="blog-container">
      <div class="content"><article>{{ content }}</article></div>
      <div class="navigation"><aside>{% include navigation.html %}</aside></div>
    </div>
    <footer>
        <div style="width: 30%;">(っ'-')╮ =͟͟͞ 🔪</div>
        <div style="width: 45%; text-align: center;">ε=ε=ε=ε=┌(;￣▽￣)┘</div>
        <div style="width: 25%; text-align: center;">∑(°∀° )</div>
    </footer>
  </body>
</html>